body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: blueviolet;
    text-align: center;
    border-color: blueviolet;
    border-style: solid;
    background-color: yellow;
    box-shadow: 4px 4px 8px 1px #00000075;
    
}
h3{
    text-align: center;
    color: blueviolet;

}

#start-button{
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    height: 50px;
    width: 200px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px 8px 1px #00000075;
}
.center{
    text-align: center;

    
}
p{
    text-align: center;
    font-size: 30px;
    padding: 2rem;
}

.container{
    text-align: center;
}

#high-scores{
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    height: 50px;
    width: 200px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px 8px 1px #00000075;
}
.answerButton{
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    height: 50px;
    width: 200px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px 8px 1px #00000075;
      
}
#questionDiv{
    text-align: center;
}

#submit-button{
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    height: 50px;
    width: 200px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px 8px 1px #00000075;
}

.hide{
    display: none;
}

.end-screen{
    text-align: center;
    color: blueviolet;
    text-align: center;
    border-color: blueviolet;
    border-style: solid;
    background-color: yellow;
    box-shadow: 4px 4px 8px 1px #00000075;
    margin: 2rem;
    padding: 1rem;
}

.endButton{
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    height: 50px;
    width: 200px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px 8px 1px #00000075; 
}

.score-section{
    text-align: center;
    color: blueviolet;
    text-align: center;
    border-color: blueviolet;
    border-style: solid;
    background-color: yellow;
    box-shadow: 4px 4px 8px 1px #00000075;
    margin: 2rem;
    padding: 1rem;
}
.score-item{
    font-style: normal;
    font-weight: bolder;
    color:cornflowerblue;
    list-style: none;   
}

.close-scores-button{
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    color: yellowgreen;
    height: 20px;
    width: 20px;
    background-color: cornflowerblue;
    box-shadow: 4px 4px 8px 1px #00000075;
    margin: .5rem;
}